[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
mysqlclient = "*"
django-cpf = "*"
django-cors-headers = "*"
django-filter = "*"
django-heroku = "*"
opencv-python-headless = "==4.2.0.32"

[dev-packages]

[requires]
python_version = "3.8"
