[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
django-rest-framework = "*"
mysqlclient = "*"
django-cpf = "*"
django-cors-headers = "*"
django-filter = "*"
django-heroku = "*"
pygdal = "==3.2.1.*"

[dev-packages]

[requires]
python_version = "3.8"
